<a href="https://colab.research.google.com/github/atlas-github/abs_digital/blob/master/Extracting_text_from_images_PDFs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Extract information from a PDF document using [Tabula](https://pypi.org/project/tabula-py/)

Tabula isn't usually a installed in most IDEs, so install the library using the code below.

In [ ]:
!pip install tabula-py

I'll be demonstrating how to extract information from page 4 of Maybank's Annual Report 2019, which can be found [here](https://www.maybank.com/en/investor-relations/reporting-events/reports/annual-reports.page).

In [3]:
import tabula

# Read pdf into list of DataFrame
sample_list = tabula.read_pdf("Maybank Annual Report 2019 - Financial Statements (English).pdf", pages='4')

sample_list

[                                           Unnamed: 0  ...                Bank
 0                                                 NaN  ...           FY 31 Dec
 1                                                 NaN  ...           2018 2019
 2                     OPERATING RESULTS (RM’ million)  ...                 NaN
 3                                   Operating revenue  ...      26,681  26,906
 4         Pre-provisioning operating profit (“PPOP”)1  ...       9,491  10,283
 5                                    Operating profit  ...        8,748  8,415
 6                    Profit before taxation and zakat  ...        8,748  8,415
 7   Profit attributable to equity holders of the Bank  ...        7,308  7,279
 8   KEY STATEMENTS OF FINANCIAL POSITION DATA (RM’...  ...                 NaN
 9                                        Total assets  ...    456,613  464,360
 10                   Financial investments portfolio2  ...    121,354  126,286
 11                      Loans, advances and financing  ...    230,367  226,589
 12                                  Total liabilities  ...    391,024  394,297
 13                            Deposits from customers  ...    255,160  242,758
 14                   Investment accounts of customers  ...                 – –
 15                      Commitments and contingencies  ...  780,161  1,125,440
 16                     Paid-up capital/Share capital3  ...      46,747  48,280
 17                                     Share premium3  ...                 – –
 18                               Shareholders’ equity  ...      65,589  70,063
 19                                  SHARE INFORMATION  ...                 NaN
 20                                    Per share (sen)  ...                 NaN
 21                                     Basic earnings  ...          66.8  65.2
 22                                   Diluted earnings  ...          66.8  65.2
 23                                     Gross dividend  ...          57.0  64.0
 24                                   Net assets (sen)  ...        593.6  623.3
 25                      Share price as at 31 Dec (RM)  ...                 – –
 26                Market capitalisation (RM’ million)  ...                 – –
 27                               FINANCIAL RATIOS (%)  ...                 NaN
 28                  Profitability Ratios/Market Share  ...                 NaN
 29  Net interest margin on average interest-earnin...  ...             2.0 1.9
 30       Net interest on average risk-weighted assets  ...            3.6  3.5
 31          Net return on average shareholders’ funds  ...           11.9 11.3
 32                       Net return on average assets  ...            1.5  1.6
 33         Net return on average risk-weighted assets  ...             3.0 3.3
 34                              Cost to income ratio4  ...          38.0  32.8
 35                          Domestic market share in:  ...                 NaN
 36                      Loans, advances and financing  ...           18.1 17.9
 37          Deposits from customers - Savings Account  ...           26.1 25.5
 38          Deposits from customers - Current Account  ...           19.3 18.4
 39                        CAPITAL ADEQUACY RATIOS (%)  ...                 NaN
 40                                 CET1 Capital Ratio  ...      13.757  15.314
 41                               Tier 1 Capital Ratio  ...      14.871  16.120
 42                                Total Capital Ratio  ...      18.266  19.387
 43                               ASSET QUALITY RATIOS  ...                 NaN
 44                             Net impaired loans (%)  ...          1.73  1.65
 45                             Loan loss coverage (%)  ...           74.3 76.1
 46                         Loan-to-deposit ratio (%)5  ...           85.8 87.7
 47            Deposits to shareholders’ fund (times)6  ...            3.9  3.5
 48                                VALUATIONS ON SHARE  ...                 NaN
 49                           Gross dividend yield (%)  ...                 – –
 50                          Dividend payout ratio (%)  ...                 – –
 51                 Price to earnings multiple (times)  ...                 – –
 52                     Price to book multiple (times)  ...                 – –

 [53 rows x 7 columns]]

Now to convert the result into a table.

In [4]:
df = sample_list[0]
df = df.drop([0])
df.columns = df.iloc[0]
df = df.drop([1])
#df[1, 0] = "Five-Year Group Financial Summary"
df

1                                                 NaN  ...           2018 2019
2                     OPERATING RESULTS (RM’ million)  ...                 NaN
3                                   Operating revenue  ...      26,681  26,906
4         Pre-provisioning operating profit (“PPOP”)1  ...       9,491  10,283
5                                    Operating profit  ...        8,748  8,415
6                    Profit before taxation and zakat  ...        8,748  8,415
7   Profit attributable to equity holders of the Bank  ...        7,308  7,279
8   KEY STATEMENTS OF FINANCIAL POSITION DATA (RM’...  ...                 NaN
9                                        Total assets  ...    456,613  464,360
10                   Financial investments portfolio2  ...    121,354  126,286
11                      Loans, advances and financing  ...    230,367  226,589
12                                  Total liabilities  ...    391,024  394,297
13                            Deposits from customers  ...    255,160  242,758
14                   Investment accounts of customers  ...                 – –
15                      Commitments and contingencies  ...  780,161  1,125,440
16                     Paid-up capital/Share capital3  ...      46,747  48,280
17                                     Share premium3  ...                 – –
18                               Shareholders’ equity  ...      65,589  70,063
19                                  SHARE INFORMATION  ...                 NaN
20                                    Per share (sen)  ...                 NaN
21                                     Basic earnings  ...          66.8  65.2
22                                   Diluted earnings  ...          66.8  65.2
23                                     Gross dividend  ...          57.0  64.0
24                                   Net assets (sen)  ...        593.6  623.3
25                      Share price as at 31 Dec (RM)  ...                 – –
26                Market capitalisation (RM’ million)  ...                 – –
27                               FINANCIAL RATIOS (%)  ...                 NaN
28                  Profitability Ratios/Market Share  ...                 NaN
29  Net interest margin on average interest-earnin...  ...             2.0 1.9
30       Net interest on average risk-weighted assets  ...            3.6  3.5
31          Net return on average shareholders’ funds  ...           11.9 11.3
32                       Net return on average assets  ...            1.5  1.6
33         Net return on average risk-weighted assets  ...             3.0 3.3
34                              Cost to income ratio4  ...          38.0  32.8
35                          Domestic market share in:  ...                 NaN
36                      Loans, advances and financing  ...           18.1 17.9
37          Deposits from customers - Savings Account  ...           26.1 25.5
38          Deposits from customers - Current Account  ...           19.3 18.4
39                        CAPITAL ADEQUACY RATIOS (%)  ...                 NaN
40                                 CET1 Capital Ratio  ...      13.757  15.314
41                               Tier 1 Capital Ratio  ...      14.871  16.120
42                                Total Capital Ratio  ...      18.266  19.387
43                               ASSET QUALITY RATIOS  ...                 NaN
44                             Net impaired loans (%)  ...          1.73  1.65
45                             Loan loss coverage (%)  ...           74.3 76.1
46                         Loan-to-deposit ratio (%)5  ...           85.8 87.7
47            Deposits to shareholders’ fund (times)6  ...            3.9  3.5
48                                VALUATIONS ON SHARE  ...                 NaN
49                           Gross dividend yield (%)  ...                 – –
50                          Dividend payout ratio (%)  ...                 – –
51                 Price to earnings multiple (times)  ...                 – –
52                     Price to book multiple (times)  ...                 – –

[51 rows x 7 columns]

Now to clean the extracted data.

In [48]:
import pandas as pd

#split the last column by the "  " delimiter
bank = df["2018 2019"].str.split(" ", 1, expand = True)

#combine the two dataframes
result = pd.concat([df, bank], axis = 1)

#rename the dataframe headers
result.columns = result.columns.fillna("Five-year Group Financial Summary")
result = result.rename(columns = {"2015": "2015_Group", "2016": "2016_Group", "2017": "2017_Group", "2018": "2018_Group", "2019": "2019_Group", 0: "2018_Bank", 1: "2019_Bank"})

#drop the extra column
result = result.drop(columns = {"2018 2019"})

#replace Nan with empty cells
result = result.fillna("")
result

                    Five-year Group Financial Summary  ...   2019_Bank
2                     OPERATING RESULTS (RM’ million)  ...
3                                   Operating revenue  ...      26,906
4         Pre-provisioning operating profit (“PPOP”)1  ...      10,283
5                                    Operating profit  ...       8,415
6                    Profit before taxation and zakat  ...       8,415
7   Profit attributable to equity holders of the Bank  ...       7,279
8   KEY STATEMENTS OF FINANCIAL POSITION DATA (RM’...  ...
9                                        Total assets  ...     464,360
10                   Financial investments portfolio2  ...     126,286
11                      Loans, advances and financing  ...     226,589
12                                  Total liabilities  ...     394,297
13                            Deposits from customers  ...     242,758
14                   Investment accounts of customers  ...           –
15                      Commitments and contingencies  ...   1,125,440
16                     Paid-up capital/Share capital3  ...      48,280
17                                     Share premium3  ...           –
18                               Shareholders’ equity  ...      70,063
19                                  SHARE INFORMATION  ...
20                                    Per share (sen)  ...
21                                     Basic earnings  ...        65.2
22                                   Diluted earnings  ...        65.2
23                                     Gross dividend  ...        64.0
24                                   Net assets (sen)  ...       623.3
25                      Share price as at 31 Dec (RM)  ...           –
26                Market capitalisation (RM’ million)  ...           –
27                               FINANCIAL RATIOS (%)  ...
28                  Profitability Ratios/Market Share  ...
29  Net interest margin on average interest-earnin...  ...         1.9
30       Net interest on average risk-weighted assets  ...         3.5
31          Net return on average shareholders’ funds  ...        11.3
32                       Net return on average assets  ...         1.6
33         Net return on average risk-weighted assets  ...         3.3
34                              Cost to income ratio4  ...        32.8
35                          Domestic market share in:  ...
36                      Loans, advances and financing  ...        17.9
37          Deposits from customers - Savings Account  ...        25.5
38          Deposits from customers - Current Account  ...        18.4
39                        CAPITAL ADEQUACY RATIOS (%)  ...
40                                 CET1 Capital Ratio  ...      15.314
41                               Tier 1 Capital Ratio  ...      16.120
42                                Total Capital Ratio  ...      19.387
43                               ASSET QUALITY RATIOS  ...
44                             Net impaired loans (%)  ...        1.65
45                             Loan loss coverage (%)  ...        76.1
46                         Loan-to-deposit ratio (%)5  ...        87.7
47            Deposits to shareholders’ fund (times)6  ...         3.5
48                                VALUATIONS ON SHARE  ...
49                           Gross dividend yield (%)  ...           –
50                          Dividend payout ratio (%)  ...           –
51                 Price to earnings multiple (times)  ...           –
52                     Price to book multiple (times)  ...           –

[51 rows x 8 columns]

And if you would like to export the file.

In [ ]:
result.to_csv("result.csv")
from google.colab import files
files.download("result.csv")

#Extract information from Google Vision API's [OCR](https://cloud.google.com/vision/docs/ocr) (Optical Character Recognition).

In [37]:
[s.strip() for s in words.split('  ') if s]

AttributeError: ignored